In [1]:
import pandas as pd

In [ ]:
data  = pd.read_excel('airline.xls')

print(data)

    YEAR       Y      W       R      L      K
0   1948   1.214  0.243  0.1454  1.415  0.612
1   1949   1.354  0.260  0.2181  1.384  0.559
2   1950   1.569  0.278  0.3157  1.388  0.573
3   1951   1.948  0.297  0.3940  1.550  0.564
4   1952   2.265  0.310  0.3559  1.802  0.574
5   1953   2.731  0.322  0.3593  1.926  0.711
6   1954   3.025  0.335  0.4025  1.964  0.776
7   1955   3.562  0.350  0.3961  2.116  0.827
8   1956   3.979  0.361  0.3822  2.435  0.800
9   1957   4.420  0.379  0.3045  2.707  0.921
10  1958   4.563  0.391  0.3284  2.706  1.067
11  1959   5.385  0.426  0.3856  2.846  1.083
12  1960   5.554  0.441  0.3193  3.089  1.481
13  1961   5.465  0.460  0.3079  3.122  1.736
14  1962   5.825  0.485  0.3783  3.184  1.926
15  1963   6.876  0.506  0.4180  3.263  2.041
16  1964   7.823  0.538  0.5163  3.412  1.997
17  1965   9.120  0.564  0.5879  3.623  2.257
18  1966  10.512  0.586  0.5369  4.074  2.742
19  1967  13.020  0.622  0.4443  4.710  3.564
20  1968  15.261  0.666  0.3052  5.217  4.767
21  1969  16.313  0.731  0.2332  5.569  6.511
22  1970  16.002  0.831  0.1883  5.495  7.627
23  1971  15.876  0.906  0.2023  5.334  8.673
24  1972  16.662  1.000  0.2506  5.345  8.331
25  1973  17.014  1.056  0.2668  5.662  8.557
26  1974  19.305  1.131  0.2664  5.729  9.508
27  1975  18.721  1.247  0.2301  5.722  9.062
28  1976  19.250  1.375  0.3452  5.762  8.262
29  1977  20.647  1.544  0.4508  5.877  7.474
30  1978  22.726  1.703  0.5877  6.108  7.104
31  1979  23.619  1.779  0.5346  6.852  6.874
   YEAR      Y      W       R      L      K
0  1948  1.214  0.243  0.1454  1.415  0.612
1  1949  1.354  0.260  0.2181  1.384  0.559
2  1950  1.569  0.278  0.3157  1.388  0.573
3  1951  1.948  0.297  0.3940  1.550  0.564
4  1952  2.265  0.310  0.3559  1.802  0.574

In [3]:
print(data.head())

   YEAR      Y      W       R      L      K
0  1948  1.214  0.243  0.1454  1.415  0.612
1  1949  1.354  0.260  0.2181  1.384  0.559
2  1950  1.569  0.278  0.3157  1.388  0.573
3  1951  1.948  0.297  0.3940  1.550  0.564
4  1952  2.265  0.310  0.3559  1.802  0.574

In [6]:
gp = data.groupby("Y").agg({"W":"count"})

print(gp)

        W
Y
1.214   1
1.354   1
1.569   1
1.948   1
2.265   1
2.731   1
3.025   1
3.562   1
3.979   1
4.420   1
4.563   1
5.385   1
5.465   1
5.554   1
5.825   1
6.876   1
7.823   1
9.120   1
10.512  1
13.020  1
15.261  1
15.876  1
16.002  1
16.313  1
16.662  1
17.014  1
18.721  1
19.250  1
19.305  1
20.647  1
22.726  1
23.619  1

In [7]:
gp1 = data.groupby('W').agg({"R": "max"}) # max,min,mean, etc

print(gp1)

            R
W
0.243  0.1454
0.260  0.2181
0.278  0.3157
0.297  0.3940
0.310  0.3559
0.322  0.3593
0.335  0.4025
0.350  0.3961
0.361  0.3822
0.379  0.3045
0.391  0.3284
0.426  0.3856
0.441  0.3193
0.460  0.3079
0.485  0.3783
0.506  0.4180
0.538  0.5163
0.564  0.5879
0.586  0.5369
0.622  0.4443
0.666  0.3052
0.731  0.2332
0.831  0.1883
0.906  0.2023
1.000  0.2506
1.056  0.2668
1.131  0.2664
1.247  0.2301
1.375  0.3452
1.544  0.4508
1.703  0.5877
1.779  0.5346

In [22]:
# Merge , join, and Concatenate in pandas

data1 = {
    "ID": ["1","2","3","4","5","7","8","9"],
    "Names":["NS-1","NS-2","NS-3","NS-4","NS-5","NS-7","NS-8", "NS-9"],
    "Age":[21,22,33,44,55,23,23,12]    
        }

data2 = {
    "ID": ["11","21","31","41","51","71","81","91"],
    "Names1":["NS-11","NS-21","NS-31","NS-41","NS-51","NS-71","NS-81", "NS-91"],
    "Age1":[21,22,33,44,55,21,13,12]    
        }

d1 = pd.DataFrame(data1)
d2 = pd.DataFrame(data2)

print(d1)
print("-----------------")
print(d2)

  ID Names  Age
0  1  NS-1   21
1  2  NS-2   22
2  3  NS-3   33
3  4  NS-4   44
4  5  NS-5   55
5  7  NS-7   23
6  8  NS-8   23
7  9  NS-9   12
-----------------
   ID Names1  Age1
0  11  NS-11    21
1  21  NS-21    22
2  31  NS-31    33
3  41  NS-41    44
4  51  NS-51    55
5  71  NS-71    21
6  81  NS-81    13
7  91  NS-91    12

In [24]:
print(pd.merge(d1,d2, on="ID"))

print(pd.merge(left=d1,  right=d2,   on="ID", how='left'))

Empty DataFrame
Columns: [ID, Names, Age, Names1, Age1]
Index: []
  ID Names  Age Names1  Age1
0  1  NS-1   21    NaN   NaN
1  2  NS-2   22    NaN   NaN
2  3  NS-3   33    NaN   NaN
3  4  NS-4   44    NaN   NaN
4  5  NS-5   55    NaN   NaN
5  7  NS-7   23    NaN   NaN
6  8  NS-8   23    NaN   NaN
7  9  NS-9   12    NaN   NaN

In [ ]:
# Concat also

In [27]:
# Compare

dict = {
    "as":["aa-1","as-2"],
    "price" : [1,2],
    "Quality" : [10,100]
}

print(dict)

{'as': ['aa-1', 'as-2'], 'price': [1, 2], 'Quality': [10, 100]}

In [28]:
df = pd.DataFrame(dict)
print(df)

     as  price  Quality
0  aa-1      1       10
1  as-2      2      100

In [29]:
df.loc[1]

as         as-2
price         2
Quality     100
Name: 1, dtype: object

In [31]:

df.loc[2,"price"] = 200

print(df)

     as  price  Quality
0  aa-1    1.0     10.0
1  as-2    2.0    100.0
2   NaN  200.0      NaN

In [33]:

df.loc[2,"as"] = 'as-3'
df.loc[2,"Quality"] = '100000000000'

print(df)

     as  price       Quality
0  aa-1    1.0          10.0
1  as-2    2.0         100.0
2  as-3  200.0  100000000000

C:\Users\nagar\AppData\Local\Temp\ipykernel_20172\3968516752.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '100000000000' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[2,"Quality"] = '100000000000'

In [ ]:
# Pivoting and Melting
#  DataFrams

In [35]:
dict = {
    "key":["1","2","3","4"],
    "name":["a","w","r","y"],
    "house":["red", "green", "blue", "yellow"]
}

print(dict)

{'key': ['1', '2', '3', '4'], 'name': ['a', 'w', 'r', 'y'], 'house': ['red', 'green', 'blue', 'yellow']}

In [37]:
df = pd.DataFrame(dict)
print(df)

  key name   house
0   1    a     red
1   2    w   green
2   3    r    blue
3   4    y  yellow

In [39]:
# print(df.pivot("key", "name", "house"))

df.pivot(index="key", columns="name", values="house")

name    a     r      w       y
key
1     red   NaN    NaN     NaN
2     NaN   NaN  green     NaN
3     NaN  blue    NaN     NaN
4     NaN   NaN    NaN  yellow

In [43]:
print(pd.melt(df, id_vars=["name"], value_vars=["house"]))

  name variable   value
0    a    house     red
1    w    house   green
2    r    house    blue
3    y    house  yellow

In [44]:
import pandas as pd

# Sample DataFrame
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "house": ["Gryffindor", "Slytherin", "Ravenclaw"],
    "age": [23, 25, 22]
}

df = pd.DataFrame(data)

# Advanced melt operation
melted_df = (
    pd.melt(df, id_vars=["name"], value_vars=["house"])
    .dropna()  # Drop rows with NaN values
    .rename(columns={"variable": "Attribute", "value": "Details"})  # Rename columns
    .assign(Source="Hogwarts Dataset")  # Add metadata column
)

print(melted_df)

      name Attribute     Details            Source
0    Alice     house  Gryffindor  Hogwarts Dataset
1      Bob     house   Slytherin  Hogwarts Dataset
2  Charlie     house   Ravenclaw  Hogwarts Dataset

In [45]:
print("Thank You---Ns Loni")

Thank You---Ns Loni